<include file="Public/header" title="类型列表" />

        <style>
            .div_head{height:23px;width:97%;background:lightblue;margin-left:20px;}
        </style>
        <div class="div_head" style="font-size:16px;margin-top:70px;">
                <span class="span1" style="float:left;">当前位置是：{$bread['first']}-》{$bread['second']}</span>
                <span style="float:right;margin-right:20px;font-weight:bold;">
                    <a style="text-decoration:none;" href="{$bread['third'][1]}">【{$bread['third'][0]}】</a>
                </span>
            <div style="clear:both"></div>
        </div>
<div style="margin:12px 20px;">
   <form method="post" action="__ACTION__">
	<input type="hidden" name="role_id" value="{$vo.role_id}"/>
    <table border="1" width="100%">
        <tr style="font-weight:bold;">
            <td style="text-align:right" width="10%">
				角色名称：</td>
				<td><input type="text" name="role_name" value="{$vo.role_name}"/></td>
        </tr>
		  <tr style="font-weight:bold;">
            <td style="text-align:right">
				<em><span onclick='add_tr($(this).parent().parent().parent())' style='cursor:pointer'>[+]</span></em>
				权限列表：</td>
				<td><select name="auth_id[]">
					<foreach name="info" item='v'>
					<option value="{$v.auth_id}" >
					{:str_repeat('&nbsp;&nbsp;&nbsp;',$v['auth_level'])}{$v.auth_name}</option>
					</foreach>
				</select></td>
        </tr>
		   <td colspan=2 style="text-align:center"><input type="submit" value='修改'/></td>
		  </tr>
    </table>
	</form>
</div>
<script type="text/javascript" src="__PUBLIC__/admin/js/jquery1.8.3.min.js"></script>
 <script type="text/javascript">
function add_tr(o){
	var tr_o=o.clone();
	tr_o.find('span').remove();
	tr_o.find('em').append("<span onclick='$(this).parent().parent().parent().remove()' style='cursor:pointer'>[-]</span>");
   o.after(tr_o);
}
</script>
<include file="Public/footer" />
