<include file="Public/header" title="添加链接" />
<table width="98%" align="center" border="0" cellpadding="3" cellspacing="1" bgcolor="#66cc99" style="margin-bottom:8px;margin-top:8px;">
    <tr>
        <td background="__PUBLIC__/Admin/images/wbg.gif" bgcolor="#EEF4EA" class="title" colspan="2">
            <span><img src="__PUBLIC__/Admin/images/arr3.gif" style="margin-right:10px;">添加配置</span>
        </td>
    </tr>
    <tr bgcolor="#FFFFFF">
        <td>
            <table>
                <form action="__ACTION__" method="post" enctype="multipart/form-data">
                    <tr>
                        <td width="80px">配置名称:</td>
                        <td>
                            <input type="text" name="ts_name" value="" placeholder="请输入配置名称"/>
                        </td>
                    </tr>
                    <tr>
                        <td>配置标题:</td>
                        <td>
                            <input type="text" name="ts_title" value="" placeholder="请输入配置标题"/>
                        </td>
                    </tr>
                    <tr>
                        <td>配置类型:</td>
                        <td>
                            <input type="text" name="ts_type" value="" placeholder="请输入配置类型">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="submit" name="sub" value="添加">
                        </td>
                    </tr>
                </form>
            </table>
        <td>
    <tr>
    <table>
<include file="Public/footer" />