<include file="Public/header" title="类型列表" />

        <style>
            .div_head{height:23px;width:97%;background:lightblue;margin-left:20px;}

        </style>
        <div class="div_head" style="font-size:16px;margin-top:70px;">
                <span class="span1" style="float:left;">当前位置是：{$bread['first']}-》{$bread['second']}</span>
                <span style="float:right;margin-right:20px;font-weight:bold;">
                    <a style="text-decoration:none;" href="{$bread['third'][1]}">【{$bread['third'][0]}】</a>
                </span>
            <div style="clear:both"></div>
        </div>
<div style="margin:12px 20px;">
    <table class="tables" border="1" width="100%">
           <tr style="font-weight: bold;">
                <td width="20%">序号</td><td width="20%">分类名称</td>
					 <td width="20%">父级ID</td>
                <td align="center" colspan='2' >操作</td>
            </tr>
            <foreach name='info' item='v'>
            <tr>
                <td>{$v.cat_id}</td>
                <td>{:str_repeat('&nbsp;&nbsp;&nbsp;',$v['level'])}{$v.cat_name}</td>
                <td>{$v.cat_fid}</td>
                <td><a href="{:U('Admin/Categery/upd',array('cat_id'=>$v['cat_id']))}">修改</a></td>
                <td><a href="javascript:;" onclick="confirmdel({$v.cat_id})">删除</a></td>
            </tr>
            </foreach>
    </table>
	 <p style="margin:10px 20px;text-align:center">{$pagelist}</p>
</div>
<script>
function confirmdel(id){
  if(window.confirm('你确定要删除吗？')){
    location.href="{:U('Admin/Categery/del/id/"+id+"')}";
  }
}
</script>



<include file="Public/footer" />